body {
                background-color: lightyellow;
            }
.prijava{
                margin-top: 2%;
                margin-left: 2%;
            }
.logo{
                max-width: 8%;
                align-items: center;
                
            }
.title{
                text-align:center;
                font-family: Georgia, serif;
                color: rgba(247, 81, 21, 0.767);     
                border-bottom: 5px solid orange;
                max-height: 5%;
                margin-top: -2%;
    
}
.naslov{
                text-align: left;
                font-size: x-large;
                color:rgb(85, 85, 85);
                margin-left: 2%;
}
            

               
.napomena {
                text-align: left;
                margin-left: 2%;
                color: rgba(247, 81, 21, 0.767);  
                margin-top: -1.25%;
            }
.registracija {
                margin-top: 2%;
                margin-left: 2%;
            }
 body {
                background-color: lightyellow;
            }

.naslov{
                text-align: left;
                font-size: x-large;
                color:rgb(85, 85, 85);
                margin-left: 2%;
            }
.vertical-menu {
                float: right;
                width: 30%; 
            }

.vertical-menu a {
                
                background-color: rgba(238, 238, 238, 0.719); /* Grey background color */
                color: black; /* Black text color */
                display: block; /* Make the links appear below each other */
                padding: 12px; /* Add some padding */
                text-decoration: none; /* Remove underline from links */
            }

.vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

.vertical-menu a.active {
                background-color: rgba(247, 81, 21, 0.767); /* Add a green color to the "active/current" link */
                color: white;
            }
            
.p1{
                text-align: left;
                margin-left: 2%;
            }
.tabela{
                margin-left: 2%;
               
            }
.tabelaKorpe, th,td{
				border:1px solid orange;
                margin-left: 2%;
                
	}
.tabelaPorudzbine{
		display: block;
		margin-left:2%;
}
.maliHeder	{
		padding: 1%;
  		text-align: right;
  		background: lightgray;
  		margin-bottom: 1%;
	
	}
.pretraga {
		
		margin-left:1%;
		
}
.pretragaRegistracija {
		margin-left: 1%;
		color: black;
		font-size: large;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  margin-top:3%;
  }
.grid img {
  border: 2px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
.grid img:hover {
    border: 1px solid #f03030;
}
    
img.logo2{
				max-width:300%;
				float:left;
				margin-left:2%;
				margin-bottom:2%;
				max-height:300%;
			}
            
img.logo3{
				margin-top:1%;
				filter: contrast(10%);
				float:left;
				margin-left:0px;
				max-width:300%;
				margin-bottom:10%;
				height:100%;

			}
img.logo4{
				margin-top:1%;
				margin-bottom:10%;
				float:left;
				max-width:300%;

			}
img.logo5{
				max-width:300%;
				max-height:200%;
				float:left;
				margin-bottom:5%;
				margin-left:7%;
				margin-top:10%;
			}
img.logo6{
				max-width:250%;
				max-height:300%;
				float:left;
				margin-bottom:5%;
				margin-left:30%;
				margin-right:10%;
				margin-top:8%;
			}

            
footer{
                color: gray;

            }
h2 {
				margin:30px;
                font-size: 22px;
                text-align: left;
                font-family: Georgia, serif;
                color: gray;
            }
h3{
			font-size:10px;
			}
h4{
			font-size:15px;
			}
.opis{
			font-size:15px;
		    display: block;
		    text-align:center;
			padding:2%;
			margin:3%;
			min-width:250%;
			}
.opis1{
			font-size:15px;
		    display: block;
			text-align:center;
			padding:5%;
			margin-top:1%;
			margin-bottom:2%;
			margin-left:6%;
			min-width:250%;
			}

.restoran{
			margin-right:1%;
			margin-left:1%;
			vertical-align: top;
			display: inline-block;
			text-align: center;
			max-width:30%;
			max-height:35%;
			}
			
			
::placeholder{
			color:darkorange;
			}
			
.open{
			color: green;
			margin:2px;
			}

